name: Auto Process & Commit

on:
  push:
  workflow_dispatch:

jobs:
  process:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install pandas openpyxl

      - name: List input folder
        run: ls -l input

      - name: Run processor
        run: python scripts/processor.py

      - name: List output folder
        run: ls -l output

      - name: Auto commit results
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Auto update output"
